# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Process ID files
*.pid

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
*.pot
*.pyo

# Envoriments
.venv/

# Flask stuff
.webassets-cache
migrations/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*


# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/


# IDEs and editors
.idea/
.vscode/
*.swp
*~
*.sublime-project
*.sublime-workspace
.project
.settings/
.classpath

# Miscellaneous
.tmp.*
*.bak
*.tmp
*.orig 

# Cursor
.cursor/

# Git
.git/
